
<div class="container">
	<form method="post" action="Converter">
		<div class="form-group">
			<label class="form-control" for="inpNumber">Please enter the number you want to convert</label>
			<input name="number" id="inpNumber" class="form-control"/>
		</div>
		<div>
			<input type="submit" value="Submit"/>
		</div>
		<div>
			<p class="pConvertedToString" style="display: none"></p>
		</div>
	</form>
</div>

<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
<script>
  $(function() {
	  console.log('test');
  })

</script>



